body, html{
	margin-left: 15px;
	margin-right: 15px;
}
.album {
  display: none;
  height: 275px;
  margin-bottom: 60px;
}
.front {
  cursor: pointer;
  padding: 20px;
}

.fa {
  cursor: pointer;
}

.title {
  margin-left: 150;
}

.tracks {
  height: 228px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.tracks li {
  padding: 0;
}
.tracks i {
  display: block;
  padding: 0.7em;
}

.albums {
  margin-top: 100px;
}

.album-cover {
  text-align: center;
  margin-bottom: 20px;
}
.album-cover > img {
  height: 100px;
  margin-bottom: 10px;
}
.album-img {
  position: absolute;
}
.subtext {
  font-size: 12px;
}

.header {
  margin-bottom: 20px;
  position: fixed;
  z-index: 99998;
  background-color: white;
}

.header > img {
  margin: auto;
  margin-right: 20px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#search-button {
  float: left;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 20px;
  color: #E6E6E6;
}

.search {
  padding-left: 20px;
  background-color: white;
  z-index: 99999;
  border-right: 1px solid #E6E6E6;
}

#search {
  position: fixed;  
}

.search .search-box-container {
  width: 100%;
  padding-right: 20px;
}

.search .search-box-container .search-box {
  width: 100%;
}

@media screen and (min-width: 1500px) {
  #results {
    margin-left: 300px;
  }
}

.empty {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 300px;
  color: #efefef;
}